In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('Trek Data.csv')

In [26]:
df.head(3)

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
0,0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
1,1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
2,2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 383 non-null    int64
 1   Trek                       383 non-null    object
 2   Cost                       383 non-null    object
 3   Time                       383 non-null    object
 4   Trip Grade                 383 non-null    object
 5   Max Altitude               383 non-null    object
 6   Accomodation               383 non-null    object
 7   Best Travel Time           383 non-null    object
 8   Contact or Book your Trip  383 non-null    object
dtypes: int64(1), object(8)
memory usage: 27.1+ KB

In [27]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
df.head(2)

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com

In [34]:
df['Cost'] = df['Cost'].astype(str).str.replace(r'[^\d.]', '', regex=True)
df.sample(2)

,Trek,Cost,Days,Trip Grade,Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
28,Tsum Valley with Manaslu Trek,1850,20.0,Strenuous,5220,Hotel/Guesthouse,March - May & Sept - Nov,https://www.nepalhikingteam.com
367,Nepal Hiking and Culture Tour,1499,8.0,Moderate,1550,Hotel/Guesthouse,Jan - May & Sept - Dec,https://www.himalayanglacier.com

In [29]:
df['Max Altitude'] = df['Max Altitude'].astype(str).str.replace(r'[^\d.]', '', regex=True)
df['Max Altitude'] = pd.to_numeric(df['Max Altitude'], errors='coerce')
df.rename(columns={'Max Altitude': 'Altitude'}, inplace=True)

In [30]:
df['Time'] = df['Time'].astype(str).str.lower().str.replace('days', '', regex=False).str.strip()
df['Time'] = df['Time'].apply(lambda x: np.mean([float(p.strip()) for p in x.split('-')]) if '-' in x else (float(x) if x else np.nan))
df.rename(columns={'Time': 'Days'}, inplace=True)

In [37]:
df.rename(columns={'Trek':"Name"}, inplace=True)
df.head(2)

,Name,Cost,Days,Trip Grade,Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
0,Everest Base Camp Trek,1420,16.0,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com
1,Everest Base Camp Short Trek,1295,14.0,Moderate,5545,Hotel/Guesthouse,March - May & Sept - Dec,https://www.nepalhikingteam.com

In [38]:
df.to_csv('cleaned_dataset.csv', index=False)