In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('cleaned_dataset.csv')

In [2]:
df.sample(2)

,Name,Cost,Days,Trip Grade,Altitude,Accomodation,Best Travel Time,Contact or Book your Trip
198,Annapurna Sanctuary Trek,1499,14.0,Moderate+Demanding,4130,Hotel/Guesthouse,Jan - May & Sept - Dec,https://www.himalayanglacier.com
323,Manaslu Circuit Trekking,1380,14.0,Moderate,5220,Hotel/Teahouses,March - May & Setpt - Nov,https://www.nepalhikingteam.com